
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

#welcome-bar{
    background: linear-gradient(to bottom, #111, #aaa, #555, #333);
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar a:hover {
    background-color: #555;
}

#nav-bar {
    height: 5vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#nav-icon {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    font-size: 32px;
    font-weight: 500;
}

#nav-links {
    height: 100%;
}

#nav-links ul {
    list-style: none;
    display: flex;
    height: 100%;
}

#nav-links a {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
}

#burger {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0;
    padding: 15px;

    display: none;
    flex-direction: column;
    justify-content: space-around;
}

#burger span {
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s ease;
}

@keyframes fade-in {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width: 1200px) {
    #burger {
        display: flex;
        cursor: pointer;
    }
    #burger:hover {
        background-color: #555;
    }
    #nav-links {
        position: relative;
        right: 0px;
        height: 96vh;
        top: 50vh;
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }
    #nav-links ul {
        padding-top: 1vh;
        flex-direction: column;
        background-color: #333;
        opacity: 0
    }
    #nav-links li {
        opacity: 0;
    }
    #nav-links a {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.toggle .bar1 {
    transform: rotate(135deg) translate(7px, -7px);
}
.toggle .bar2 {
    opacity: 0;
    transform: rotate(180deg);
}
.toggle .bar3 {
    transform: rotate(-135deg) translate(7px, 7px);
}