* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body a{
    text-decoration: none;
    color: inherit;
}

#welcome-bubble{
    background-color: #666;
}

nav {
    height: 5vh;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.nav-icon {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
}

.nav-icon a{
    margin-left: 10px;
    font-size: 32px;
    font-weight: 500;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    height: 100%;
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 30px;
}

.nav-icon:hover, .nav-links li:hover {
    background-color: #555;
}