* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/img/inky.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 20px
}

h2 {
    font-size: 32px;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: justify;
}

.text-center{
    text-align: center;
}

@media (min-width: 1000px) and (max-width: 1999px){
    section {
        margin-left: 20%;
        width: 60%;
    }
}

@media (min-width: 2000px){
    section {
        margin-left: 25%;
        width: 50%;
    }
}
